################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


PackageServer/PackageServer/bin/
PackageServer/PackageServer/obj/
